.message-bubble {
    
}

.message-details {
    display: inline-flex;
    flex-direction: column;
}

.message-sender{
    background-color: rgb(8, 163, 214);
    padding: 6px;
    border-radius: 10px 10px 0px 10px;
    max-width: 400px;
    font-size: medium;
    text-align: left;
    color: #fff;
}

.message-recipient{
    background-color: rgb(172, 172, 172);
    padding: 6px;
    border-radius: 0px 10px 10px;
    max-width: 400px;
    font-size: 15px;
    text-align: left;
    color: #fff;
}

.message-text {
    font-size: small;
}

.message-timestamp {
    font-size: x-small;
    text-align: right;
}
